#header-card {
	width: 1080px;
	margin: auto;
	padding-top: 50px;
	font-size: 28px;
	padding: 0px;
}

#header-card h1 {
	text-align: center;
	font-size: 80px;
	width: 1080px;
	margin: 0 auto;
	padding: 25px 0px;
}

#photo {
	float: left;
	/*background: red;*/
	margin: 2px;
	margin-left: 40px;
	border-style: solid;
	border-width: 5px;
	border-color: white;
}

#info-card {
	width: 750px;
	display: inline-block;

}

#info-card td {
	/*background-color: red;*/
	padding: 10px 20px;
}

#navigation-bar {
	width: 768px;
	/*background: #909090;*/
	margin: auto;
	text-align: center;
	font-size: 36px;
	float: none;
}

#navigation-bar li {
	/*background: #F0F0F0;*/
	display: inline;
	padding: 5px 30px;
}

#navigation-bar ul {
}

#schoolwork {
	padding-bottom: 50px;
	margin: auto;
}

#photo-grandpa {
	width: 200px;
	float: left;
	text-align: center;
	color: #CCCCCC;
	margin: 10px 20px;
	font-size: 18px;
}

#photo-bread {
	margin: 40px 0px;
	width: 375px;
}

.photo {
	width: 250px;
	height: 375px;
}

.content-body {
	width: 768px;
	margin: auto;
}

.parallax-background-image img{
	width: 100%;
}

td.header {
	color: #763A0E;
	/*background-color: red;*/
}

.header {
	text-align: right;
	font-family: "Copperplate", Serif;
}

.header2 {
	text-align: center;
	font-family: "Copperplate", Serif;
}

.recipe-text {
	font-size: 24px;
}

.table-spacing {
	padding: 0px 15px;
}

.data {
	font-family: "Baskerville", Serif;
	font-size: 28px;
}

.steps {
	padding: 10px 0px;
}

.subtext {
	color: #763A0E;
	font-family: "Baskerville", Serif;
}

.footer {
	margin: auto;
	width: 200px;
	padding: 15px;
	font-family: "Copperplate", Serif;

}

.recipe-layout {
	width: 50%;
	vertical-align: top;
}

body {
	width: 1080px;
	background-image: url(img/eggshell.jpg);
	margin: auto;
	font-size: 28px;
	color: #402B27;
	font-family: "Baskerville", Serif;
}

html {
	background-image: url(img/bark.jpg);
}

a {
	color: inherit;
}

th {
	font-size: 26px;
	font-family: "Copperplate", Serif;
}
